* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

header{
	width: 100%;
	height: 70px;
	background-color: #EC715F;
	color: white;
}

.header-logo{
	width: 1024px;
}

.mysite{
	background-image: url(img_10/logo.png.png);
	background-size: cover;
	background-position: center;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

nav{
	
}

.nav-list-item{
	float: right;
	padding:0 30px;
	font-size: 16px;
	list-style: none;
	color: white;
}

.main-visual{
	background-image: url(img_10/mv.png);
	background-size: cover;
	width: 100%;
	height: 650px;
	text-align: center;
}

h1{
	font-size: 64px;
	color: #fafafa;
	padding-top: 200px;
	margin-bottom: 10px;
}

.main-visual-text{
	font-size: 20px;
	color: #fafafa;
}

.portfolio{
	width: 100%;
	background-color: #ECEFF1;
	text-align: center;
	margin:0 auto;
}

.portfolio-box{
	width: 920px;
	padding: 90px 0;
	margin: 0 auto;
}

h2{
	padding-bottom: 8px;
	font-size: 32px;
	color: #000000;
	text-align: center;
}

.border{
	height: 3px;
	width: 70px;
	background-color: #EC715F;
	margin: 0 auto;
}

.message{
	font-size: 16px;
	color: #000000;
	padding: 30px 0;
	text-align: center;
}

.img-box{
	height: 510px;

}

.photo1{
	height: 250px;
	width: 300px;
	float: left;
	background-image: url(img_10/sketch.jpg);
	background-size: cover;
	background-position: center;
	margin-right: 10px;
	margin-bottom: 10px;
}

.photo2{
	height: 250px;
	width: 300px;
	float: left;
	background-image: url(img_10/websuku.png);
	background-size: cover;
	background-position: center;
	margin-right: 10px;
	margin-bottom: 10px;
}

.photo3{
	height: 250px;
	width: 300px;
	float: left;
	background-image: url(img_10/write.jpg);
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
}

.photo4{
	height: 250px;
	width: 300px;
	float: left;
	background-image: url(img_10/webcamp.png);
	background-size: cover;
	background-position: center;
	margin-right: 10px;
}

.photo5{
	height: 250px;
	width: 300px;
	float: left;
	background-image: url(img_10/talk.jpg);
	background-size: cover;
	background-position: center;
	margin-right: 10px;
}

.photo6{
	height: 250px;
	width: 300px;
	float: left;
	background-image: url(img_10/webcamp-mother.png);
	background-size: cover;
	background-position: center;
}

.feature{
	width: 980px;
	padding: 90px 0;
	text-align: center;
	background-color: white;
	margin: 0 auto;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.strengths{
	width: 980px;
}

.strength{
	width: 320px;
	padding-right: 10px;
	float: left;
	height: auto;
}

.strength:last-child{
	width: 320px;
	float: left;
	height: auto;
}

.strength i{
	font-size:60px;
}

.strength h3{
	font-size: 20px;
	color: #000000;
	padding:10px 0;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.profile{
	width: 1024px;
	padding: 90px 0;
	background-color: #ECEFF1;
	margin: 0 auto;
}

.profile-box{
	width: 512px;
	float: left;
}

.profile-img{
	background-image: url(img_10/my-icon.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}

.profile-box h3{
	font-size: 20px;
	padding-bottom: 5px;
}

.contact{
	width: 800px;
	padding: 90px 0;
	margin: 0 auto;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.contact-box{

}

.contact h3{
	font-size: 20px;
	padding-bottom: 5px;	
}

.address{
	width: 400px;
	float: left;
}

.address-list{
	margin: 0 auto;
}

.sns{
	width: 400px;
	float: left;
	margin: 0 auto;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.sns-list{
	
}

.sns i{
	float: left;
	font-size: 50px;
	margin-right: 20px;
	margin: 0 auto;
}

.sns i:last-child{
	float: left;
	font-size: 50px;
	margin-right: 0;
}

.contact-box h3{
	font-size: 20px;
	padding-bottom: 5px;
	margin: 0 auto;
}

footer{
	height: 60px;
	background-color: #EC715F;

}

.footer-text{
	font-size: 16px;
	color: #fafafa;
	text-align: center;
	line-height: 60px;
}


@media screen and (max-width:767px){
	* {
  margin: 0 5%;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

header{
	width: 90%;
	height: 50px;
	background-color: #EC715F;
	color: white;
}

.header-logo{
	width: 90%;
}

.header-left{

}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

nav{
	width: 90%;
}

.nav-list-item{
	float: right;
	padding: 30px 0;
	font-size: 90%;
	color: white;
}

.main-visual{
	background-image: url(img_10/mv.png);
	background-size: cover;
	width: 90%;
	height: 650px;
	text-align: center;
}

h1{
	font-size: 40px;
	color: #fafafa;
	padding-top: 200px;
	margin-bottom: 10px;
}

.main-visual-text{
	font-size: 18px;
	color: #fafafa;
}

.portfolio{
	width: 90%;
	background-color: #ECEFF1;
	text-align: center;
	margin:0 auto;
}

.portfolio-box{
	width: 90%;
	padding: 90px 0;
	margin: 0 auto;
}

h2{
	padding-bottom: 8px;
	font-size: 32px;
	color: #000000;
	text-align: center;
}

.border{
	height: 3px;
	width: 70px;
	background-color: #EC715F;
	margin: 0 auto;
}

.message{
	font-size: 16px;
	color: #000000;
	padding: 30px 0;
	text-align: center;
}

.img-box{
	width: 90%;


}

.photo1{
	height: 250px;
	width: 300px;
	background-image: url(img_10/sketch.jpg);
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
	display: none;
	float: none;
}

.photo2{
	height: 250px;
	width: 300px;
	background-image: url(img_10/websuku.png);
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
	float: none;
	text-align: center;
}

.photo3{
	height: 250px;
	width: 300px;
	float: none;
	background-image: url(img_10/write.jpg);
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
	display: none;
}

.photo4{
	height: 250px;
	width: 300px;
	float: none;
	background-image: url(img_10/webcamp.png);
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
}

.photo5{
	height: 250px;
	width: 300px;
	float: none;
	background-image: url(img_10/talk.jpg);
	background-size: cover;
	background-position: center;
	margin-right: 10px;
	display: none;
}

.photo6{
	height: 250px;
	width: 300px;
	float: none;
	background-image: url(img_10/webcamp-mother.png);
	background-size: cover;
	background-position: center;
}

.feature{
	width: 90%;
	padding: 90px 0;
	text-align: center;
	background-color: white;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.strengths{
	width: 90%;
}

.strength{
	width: 90%;
	padding-right: 10px;
	float: none;
	height: auto;
}

.strength:last-child{
	width: 90%;
	float: none;
	height: auto;
}

.strength i{
	font-size:60px;
}

.strength h3{
	font-size: 20px;
	color: #000000;
	padding:10px 0;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.profile{
	width: 90%;
	padding: 90px 0;
	background-color: #ECEFF1;
}

.profile-box{
	width: 90%;
	float: none;
}

.profile-img{
	background-image: url(img_10/my-icon.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}

.profile-box h3{
	font-size: 20px;
	padding-bottom: 5px;
}

.contact{
	width: 90%;
	padding: 90px 0;
	margin: 0 auto;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.contact-box{

}

.contact h3{
	font-size: 20px;
	padding-bottom: 5px;	
}

.address{
	width: 400px;
	float: none;
}

.address-list{
	margin: 0 auto;
}

.sns{
	width: 400px;
	float: none;
	margin: 0 auto;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.sns-list{
	
}

.sns i{
	float: left;
	font-size: 50px;
	margin-right: 20px;
	margin: 0 auto;
}

.sns i:last-child{
	float: left;
	font-size: 50px;
	margin-right: 0;
}

.contact-box h3{
	font-size: 20px;
	padding-bottom: 5px;
	margin: 0 auto;
}

footer{
	height: 60px;
	background-color: #EC715F;

}

.footer-text{
	font-size: 16px;
	color: #fafafa;
	text-align: center;
	line-height: 60px;
}
}
